src/main/resources/static/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application
        xmlns="http://wadl.dev.java.net/2009/02"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <doc xml:lang="en" title="EV Analysis API">
        REST API for searching electric vehicles and creating AI analysis.
    </doc>

    <resources base="http://localhost:8081">
        <resource path="/vehicles">
            <method name="GET">
                <request>
                    <param name="make" style="query" type="xs:string" required="true"/>
                    <param name="model" style="query" type="xs:string" required="false"/>
                    <param name="totalPower" style="query" type="xs:integer" required="false"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
                <response status="400"/>
            </method>
        </resource>
        <resource path="/vehicles">
            <method name="DELETE">
                <response status="200"/>
                <response status="500"/>
            </method>
        </resource>
        <resource path="/analysis">
            <method name="GET">
                <request>
                    <param name="message" style="query" type="xs:string" required="true"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
                <response status="400"/>
            </method>
            <method name="POST">
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
                <response status="404"/>
            </method>
        </resource>
        <resource path="/analysis/{id}">
            <method name="DELETE">
                <request>
                    <param name="id" style="template" type="xs:integer" required="true"/>
                </request>
                <response status="204">
                    <representation mediaType="application/json"/>
                </response>
                <response status="400"/>
            </method>
            <method name="PUT">
                <request>
                    <param name="id" style="template" type="xs:integer" required="true"/>
                    <param name="prompt" style="query" type="xs:string" required="true"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
                <response status="400"/>
            </method>
            <method name="GET">
                <request>
                    <param name="id" style="template" type="xs:integer" required="true"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
                <response status="400"/>
            </method>
        </resource>
    </resources>
</application>
